body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #87A16E;
    color: #272521;
}
h2 {
    color: #562127;
}
#headerDiv {
    display: flex;
    justify-content: center;
}
#youWinDiv {
    font-size: xx-large;
}
.tower {
    background-color: #C2C693;
    height: 200px;
    width: 200px;
    border: 2px solid #272521;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    margin: 5px;
}

.disc {
    height: 30px;
    border-radius: 5px;
}

#wrapper {
    display: flex;
    justify-content: center;
    
}

#rod {
    background-color: black;
    height: 90%;
    width: 10px;

}

#smallDisc {
    background-color: #33446A;
    width: 40px;
}

#mediumDisc {
    background-color: #d6eb3e;
    width: 80px;

}

#largeDisc {
    background-color: #299025;
    width: 120px;
}

#xLargeDisc {
    background-color: #C75136;
    width: 160px;
}
